.menu-icon{
    width: 30px;
    height: 30px;
    color: white;
}

.menu-button{
    background-color: #00C8BF;
    border-radius: 5px;
    position: fixed;
    z-index: 20;
    right: 0;
    margin-right: 10px;
   
}
