.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-charts-container{
    max-width: 1000px;
    width: 90%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 120px;
}

.button{
    border-radius: 5px;
    padding: 10px ;
    margin: 40px 10px;
    color: white;
    font-weight: bold;
    width: 150px;
}

.acumulado{
    background-color: var(--naranja);
}

.actual{
    background-color: var(--amarillo);
}

.barChart-home{
    margin-bottom: 100px;
}